<h2>Votre profil</h2>
<div id="media_list">
 <%= render :partial => @media_list %> <!-- Notation abrégée pour appellée la vue partielle, qui sera la vue _story (on passe une collection de story) -->
</div> 
